{% extends "base.html" %}
{% load i18n %}

{% block sub_title %}{% trans "Download" %} - {% endblock %}

{% block extra_style %}
<style type="text/css">
/*download page*/
.software {
    padding:0 80px 20px;
}
.software .item {
    display:inline-block;
    overflow:hidden;
    vertical-align:top; /* for ff */
    padding-left:50px;
    margin:20px 0;
}
.software .item {
    *display:inline;
}
.software h2 {
    margin-top:20px;
    line-height:1.8;
    font-weight:normal;
    font-size:1.4em;
    border-bottom: 1px solid #d8d8d8;
}
.software h3 {
    margin:6px 0 0;
}
.software p,
.software ul {
    color:#666;
}
.software .pic {
    float:left;
}
.software .txt {
    width:270px;
    margin-left:50px;
}
.software ul {
    list-style-type:disc;
    padding-left:2em;
    margin:-10px 0 10px;
}
.software .download-op {
    font-size:15px;
}
.software .info {
    float:right;
    width:45%;
    padding:10px 0;
    border-radius: 4px;
    text-align: center;
    color: #333;
    background: #eee;
    font-size: 14px;
    margin-top:-1.8px;
}
.changelog {
    font-weight:normal;
    color:#666;
}
#support {
    width:300px;
}
</style>
{% endblock %}

{% block main_panel %}
<div class="article software">

<p>Les logiciels de synchronisation permettent de synchroniser des répertoires de votre ordinateur
avec vos bibliothèques de Seafile, et ainsi ouvrir les fichiers avec vos logiciels habituels,
y avoir accès hors-ligne, etc.</p>

<p>Une fois le logiciel installé, lisez la page d'aide pour <a href="/seafile/help/">configurer le logiciel Seafile sur votre ordi</a>.</p>

<h2>Logiciels pour votre ordi</h2>

    <div class="item">
        <img src="/seafmedia/custom/linux.png" alt="" class="pic" />
        <div class="txt">
            <h3>Seafile Client pour Linux</h3>
	    <p>pour Ubuntu, Debian, Fedora et Arch</p>
	    Suivre <a href="https://github.com/flobiree/seafile-user-manual/blob/master/fr/desktop/install-on-linux.md">ces instructions</a><br/>
        </div>
    </div>

    <div class="item">
        <img src="/seafmedia/custom/windows.png" alt="" class="pic" />
        <div class="txt">
            <h3>Seafile Client pour Windows</h3>
            <p>Windows Vista/7/8/10</p>
            Télécharger la version <a href="https://download.seadrive.org/seafile-6.1.0-en.msi" class="download-op">6.1.0</a><br/>
        </div>
    </div>

    <div class="item">
        <img src="/seafmedia/custom/apple.png" alt="" class="pic" />
        <div class="txt">
            <h3>Seafile Client pour Mac</h3>
            <p>Mac OS X 10.7 ou plus récent</p>
            Télécharger la version <a href="https://download.seadrive.org/seafile-client-6.1.0.dmg" class="download-op">6.1.0</a><br />
        </div>
    </div>

 
    <h2 id="mobile">Logiciels pour smartphone</h2>

    <div class="item">
        <img src="/seafmedia/custom/android.png" alt="" class="pic" />
        <div class="txt">
            <h3>Android</h3>
            <p>Seafile pour Android</p>
            <p>allez sur <a href="https://play.google.com/store/apps/details?id=com.seafile.seadroid2" class="download-op" target="_blank">Google Play</a> <br />
            ou <a href="https://github.com/haiwen/seadroid/releases" class="download-op">téléchargez-le directement</a></p>
        </div>
    </div>

    <div class="item">
        <img src="/seafmedia/custom/app_store.png" alt="" class="pic" />
        <div class="txt">
            <h3>iPad/iPhone</h3>
            <p>Seafile pour iOS</p>
            <p><a href="https://itunes.apple.com/cn/app/seafile-pro/id639202512?l=en&mt=8" class="download-op" target="_blank">App Store</a><br /> ou cherchez Seafile sur iPad/iPhone</p>
            </p>
        </div>
    </div>

<p>Si les liens de téléchargement ne fonctionnent plus, allez sur <a href="http://seafile.com/en/download/">la
page officielle de téléchargement</a>.</p>

</div>
{% endblock %}

