{% load i18n %}
<div id="footer" class="ovhd">           
  <div class="items fleft">
    <div class="item">
      <h4>{% trans "Documents" %}</h4>
      <ul>
	<li><a href="{{SITE_ROOT}}help/" target="_blank">{% trans "Help" %}</a></li>
      </ul>
    </div>
    <div class="item">
      <h4>Logiciel de synchronisation</h4>
      <ul>
        <li><a href="{% url 'download_client' %}">Page de téléchargement</a></li>
      </ul>
    </div>
  </div>
  <div class="other-info fright">
    <p>{% trans "Server Version: " %}{{ seafile_version }}</p>
    <p><a href="http://galilee.eedf.fr/" target="_blank">Accueil de Galilée</a></p>
    <p><a href="https://wiki.midipy.eedf.fr/Commencer" target="_blank">Aide sur les services de Galilée</a></p>
  </div>
</div>

