{% load i18n %}
    <div id="file-share" class="hide">
        <h3 class="hd" id="dialogTitle">{% trans 'Share %(name)s' %}</h3>
        <div id="file-share-tabs" class="nav-con-tabs">
            <ul class="nav-con-tabs-nav">
                <li class="tab"><a href="#link-share" class="a">{% trans "Download Link" %}</a></li>
            </ul>

            <div class="nav-con-tabs-content">

            <div id="link-share" class="tabs-panel">
                <div id="link-options">
                    <label class="checkbox-label">
                        <input type="checkbox" name="use-passwd" id="link-passwd-switch" class="vam" />
                        <span class="checkbox-option vam">{% trans "Add password protection"%}</span>
                    </label>
                    <div id="link-passwd" class="hide">
                        <label for="password">{% trans "Password"%}</label><span class="tip">{% blocktrans %}(at least {{share_link_password_min_length}} characters){% endblocktrans %}</span><br />
                        <input type="password" name="password" disabled="disabled" class="input input-disabled" id="password" /><br />
                        <label for="password-again">{% trans "Password again"%}</label><br />
                        <input type="password" name="password_again" disabled="disabled" class="input input-disabled" id="password-again" />
                    </div>

                    <label class="checkbox-label">
                        <input type="checkbox" name="set-expiration" id="link-expire-switch" class="vam" />
                        <span class="checkbox-option vam">{% trans "Add auto expiration"%}</span>
                    </label>
                    <div id="link-expire" class="hide">
                        <label for="expire-days">{% trans "Days" %}</label><br />
                        <input type="text" id="expire-days" name="expire-days" disabled="disabled" class="input input-disabled" />
                    </div>

                    {% if is_pro %}
                    <label class="checkbox-label">
                        <input type="checkbox" name="preview_only" class="vam" />
                        <span class="checkbox-option vam">{% trans "Online preview only" %}</span>
                    </label>
                    {% endif %}

                    <p class="error hide"></p>
                </div>
                <button id="gen-link-btn" class="hide">{% trans "Generate"%}</button>
                <div id="share-link-body" class="hide">
                    <p style="margin-top:3px;"><span class="vam">{% trans 'Link: ' %}</span><input type="text" readonly="readonly" id="shared-link-text" class="vam" /></p>
                    <button id="send-link">{% trans 'Send' %}</button>
                    <button id="rm-shared-link">{% trans 'Delete' %}</button>

                    <form id="link-send-form" action="" method="post" class="hide">{% csrf_token %}
                        <label for="link-send-input">{% trans "Send to:"%}</label><br />
                        <input type="text" class="input" id="link-send-input" name="email" placeholder="{% trans "Emails, separated by ','"%}" /><br />
                        <input type="hidden" name="file_shared_link" value="{{ dir_shared_link }}" />
                        <input type="hidden" name="file_shared_name" value="" />
                        <input type="hidden" name="file_shared_type" value="" />
                        <label for="download-extra-msg-text">{% trans "Message (optional):"%}</label><br />
                        <textarea class="textarea" name="extra_msg" id="download-extra-msg-text"></textarea><br />
                        <p class="error hide"></p>
                        <input type="submit" value="{% trans "Submit"%}" class="submit" />
                        <input type="button" value="{% trans "Cancel"%}" class="cancel" />
                        <p id="sending" class="hide">{% trans "Sending..."%}</p>
                    </form>
                </div>
            </div>

        </div>

        </div>
    </div>

